<div class="container row py-4">
    <div class="offset-2"></div>
    <div class="col-md-8">
        <h3 class="py-3">Create a new Todo </h3>
        <%= form_for todo do |f| %>

        <!-- Displaying errors in front of the corresponding fields, only the first error
        is displayed for each of the field-->
        <div class="row">
            <div class="col-md-9">
                <div class="form-group">
                    <%= label_tag(:title, "Title for the Todo") %>
                    <%= f.text_field :title , class: "form-control" %> </br>
                </div>
            </div>
            <div class="col-md-3 align-self-center">
                <% if todo.errors[:title].any? %><span id="error"><%= todo.errors[:title][0] %></span><% end %>
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    <%= label_tag(:note, "Add a description") %>
                    <%= f.text_area :note , class: "form-control" %> </br>
                </div>
            </div>
            <div class="col-md-3 align-self-center">
                <% if todo.errors[:note].any? %><p id="error"><%= todo.errors[:note][0] %></p><% end %>
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    <%= f.label :deadline, "Deadline" %>
                    <%= f.date_field :deadline ,class: "form-control" %><br />
                </div>
            </div>
            <div class="col-md-3 align-self-center">
                <% if todo.errors[:deadline].any? %><p id="error"><%= todo.errors[:deadline][0] %></p><% end %>
            </div>

            <div class="col-md-9">
                <div class="form-group">
                    <%= f.label :priority, "Priority" %><br />
                    <%= range_field(:todo, :priority, in: 1..10) %><br />
                    <small class="text-muted">Low to High -></small>
                </div>
            </div>
            <div class="col-md-3"></div>
            <%= f.submit "Add to the list",class: "my-2 btn btn-dark" %>
            <% end %>
        </div>
        <div class="offset-md-2"></div>
    </div>